
footer{
    margin-top: 50px;
}

#contacto .contenedor{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
    background-color: #F29727;
    padding: 35px 0px;
}

#contacto h4{
    font-size: 1.6em;
    margin: 5px 10px;

}

#contacto .enlaces{
    display: flex;
    flex-direction: row;
    margin-top: 1px;
}

#contacto a{
    text-decoration: none;
    font-size: 1.2em;
    margin: 0 5px 5px 5px; 
    color: #F2EDD5;
}

header a:hover{
    color: #F2B05E;
}
